@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans+Condensed:wght@700&family=Open+Sans:ital@1&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap");

:root {
    --main-color: black;
    --accent-color: white;
    font-family:'Amatic SC', cursive;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

hr{
margin: 30px auto;
}

.header-banner h1,
.header-logo{
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    text-align: center;
}

#little-logo {
font-size: 1.5rem;
margin: 0 0 10px 0 ;
text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    font-family: 'Shadows', cursive;
}

.header-menu li a {
    font-size: xx-large;
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    border: 3px solid transparent;    
}

.header-menu li a:hover {
    border: 3px groove var(--main-color);
}

@media (min-width: 650px) {

    header nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        font-size: 4rem;
    }
    
    .header-menu {
        flex: 1;
    }

}

.main-img h1 {
    color: var(--accent-color);
    margin: 3px 10px;
}

 p{
  font-family: 'Bree Serif', serif;
  margin: 8px;
  font-size: large;
  margin-bottom: 20px;
 }

 h4{
  font-family: 'Bree Serif', serif;
  margin: 8px;
  font-size: large;
}

@media (min-width:650px){
 .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
 }
}

h2{
    font-size: 40px;
    margin: 10px;
    text-align: center;  
    margin-bottom: 30px; 
    font-family: 'Hammersmith One', sans-serif;
}

#contact-form {
    max-width: 1208px;
    max-width: 75.5rem;
    margin: 0 auto;
}
  
#contact, label, input[name="submit"] {
    position: relative;
  }
 
 label > span, input, textarea, button {
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  label > span {
    display: none;
    margin-top: 10px;
    font-size: 25px; 
  }
  input, textarea, button {
    width: 100%;
    padding: 0.5em;
    font: 300 100%/1.2 Ubuntu, sans-serif;
  }
  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    margin-top: 20px;
    outline: none;
  }
  input.invalid, textarea.invalid {
    border-color: #d5144d;
  }
  textarea {
    height: 6em;
  }
  input[type="submit"], button {
    border-radius: 8px;
    background: rgb(72, 122, 168);
    color:white;
    font-size: x-large;
  }
  input[type="submit"]:hover, button:hover {
    background: #63c0bafa;
  }
  @media screen and (min-width: 30em) {
      label > span {
      vertical-align: top;
      display: inline-block;
      width: 26.3736%;
      padding: 0.5em;
      border: 1px solid transparent;
      text-align: right;
    }
    input, textarea, button {
      width: 73.6263%;
      line-height: 1.5;
    }
    textarea {
      height: 10em;
    }
    input[type="submit"], button {
      margin-left: 26.3736%;
    }
  }
  @media screen and (min-width: 48em) {
    #contact-form {
      text-align: center;
      line-height: 0;
    }
    #contact-form:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
   
    #contact-form form{
      vertical-align: top;
      display: inline-block;
      width: 65.4676%;
      text-align: left;
      line-height: 1.5;
    }
   
  }

  .networks-links{
    display: flex;
    justify-content: center;
    flex-direction: row;   
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }

  .networks-links img{
    width: 40%; 
    text-align: center;
  }

  footer{
    margin-bottom: 10px;
  }

.content img{
  width: 100%;
  margin: 10px;
}

.card-body img{
  width: 100%;
  margin: 10px;
}

.content h3{
  margin: 20px;
  text-align: center;
  font-family: 'Shadows', cursive;
}