@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans+Condensed:wght@700&family=Open+Sans:ital@1&family=Staatliches&display=swap");

:root {
    --main-color: black;
    --accent-color: white;
    font-family:'Amatic SC', cursive;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

.header-banner h1,
.header-logo{
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    text-align: center;
}

#little-logo {
font-size: 1.5rem;
margin: 0 0 10px 0 ;
text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    font-family: 'Shadows', cursive;
}

.header-menu li a {
    font-size: xx-large;
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    border: 3px solid transparent;    
}

.header-menu li a:hover {
    border: 3px solid var(--main-color);
}

@media (min-width: 650px) {

    header nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        font-size: 4rem;
    }
    
    .header-menu {
        flex: 1;
    }

}

.main-img {
    background-image: url(../img/head-picture-panorama.jpg);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: column;
    font-size: x-large;
    font-family: 'Shadows', cursive;
    }

.main-img h1 {
    color: var(--accent-color);
    margin: 3px 10px;
}

.intro-text {
font-family: 'Open Sans', sans-serif;
}


.card img{
    display: block;
    width: 100%;
}

@media (min-width:650px){
 .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
 }
}

.card h3{
    font-size: 40px;
    margin: 5px;
    text-align: center;
    color: var(--main-color);
}

h2{
    font-size: 60px;
    margin: 10px;
    text-align: center;   
}


/* SLIDER */
.slider {
    position: relative;
    overflow: hidden;
    height: 400px;
  }

  .slider__wrapper {
    height: 400px;
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    background-color: rgba(248, 242, 242, 0.952);
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    border: 3px solid grey; /* grey рамка */
    border-radius: 9px; /* Радіус заокруглення */
    margin: 8px; /*відступ між блоками*/
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item_little .slider__item_little_two .slider__item_little_three>div {
    height: 250px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    color: blanchedalmond;
  }

  .slider__item_little{
    background-image: url(../img/tatry_mountains.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_two{
    background-image: url(../img/chornogora_karpaty.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_three{
    background-image: url(../img/turkey_likiyka.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_four{
    background-image: url(../img/pikyi_outumn.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_five{
    background-image: url(../img/turkey_likiyka.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_six{
    background-image: url(../img/turkey_likiyka.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }

  .slider__item_little_seven{
    background-image: url(../img/turkey_likiyka.jpg);
    min-height: 250px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: white;
  }
     
  /* SLIDER end */

  .content-link{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row;
    font-family: 'Shadows', cursive;
    margin-bottom: 20px;
  }

  .content-links-info img{
    display: block;
    width: 100%;
  }

  .content-link p{
    margin: 10 px;
  }

  .content-links-img{
    float: left; 
    margin-right: 20px; 
  }

  /* .button-load-more{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    padding: 14px 40px;
    border-radius: 8px;
    font-size: 24px;
    color: black;
    border: 2px solid #575857;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.5s;
  }

  .button-load-more:hover {
    background-color: #575857; 
    color: white;
} */

.useful-links{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
}


/* .contact-form{
    /* display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:right;
    width: 80%;
    border:1px solid #383838;  
    border-radius: 12px;  
    background-color: rgb(195, 219, 247);
    margin: 0;
}

.message-me p{
    font-size: 25px; 
    margin-right: 10px;  
}

 .message-me input{
    width: 30%;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px; 
    background-clip: padding-box;
 }

 .message-me{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;   
 } 

#send-button{
    width: 30%;
    height: 70px;
    background-color:rgb(143, 196, 226);
    border: 2px solid rgba(0, 0, 0, 0.4);
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.5s;
  } */*/


  #contact-form {
    max-width: 1208px;
    max-width: 75.5rem;
    margin: 0 auto;
  }
  #contact, label, input[name="submit"] {
    position: relative;
  }
  label > span, input, textarea, button {
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  label > span {
    display: none;
    margin-top: 10px;
    font-size: 25px; 
  }
  input, textarea, button {
    width: 100%;
    padding: 0.5em;
    /* border: none; */
    font: 300 100%/1.2 Ubuntu, sans-serif;
  }
  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    outline: none;
  }
  input.invalid, textarea.invalid {
    border-color: #d5144d;
  }
  textarea {
    height: 6em;
  }
  input[type="submit"], button {
    background: #ccd8c3ec;
    color: #333;
  }
  input[type="submit"]:hover, button:hover {
    background: #91b36f;
  }
  @media screen and (min-width: 30em) {
      label > span {
      vertical-align: top;
      display: inline-block;
      width: 26.3736%;
      padding: 0.5em;
      border: 1px solid transparent;
      text-align: right;
    }
    input, textarea, button {
      width: 73.6263%;
      line-height: 1.5;
    }
    textarea {
      height: 10em;
    }
    input[type="submit"], button {
      margin-left: 26.3736%;
    }
  }
  @media screen and (min-width: 48em) {
    #contact-form {
      text-align: justify;
      line-height: 0;
    }
    #contact-form:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
   
    #contact-form form{
      vertical-align: top;
      display: inline-block;
      width: 65.4676%;
      text-align: left;
      line-height: 1.5;
    }
   
  }

  .contact-border{
    width: 70%;
    border:1px solid #383838;  
    border-radius: 12px;  
    background-color: rgb(195, 219, 247); 
    margin-top: 20px;
    margin: 0 auto; 
    text-align: center;
  }

