@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

:root {
    --main-color: black;
    --accent-color: white;
    font-family:'Amatic SC', cursive;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

.header-banner h1,
.header-logo {
    margin: 16px 0;
    font-family:'Amatic SC', cursive;
    font-size: 3.5rem;
    text-align: center;
}

.header-little-logo {
    margin: 16px 0;
    font-family:'Amatic SC', cursive;
    font-size: 3.5rem;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.header-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;    
}

.header-menu li a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 650px) {

    header nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        font-size: 4rem;
    }
    
    .header-menu {
        flex: 1;
    }

}

.header-banner {
    background-image: url(../img/baby-yoda.jpeg);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-banner h1 {
    color: var(--accent-color);
}
